@charset "UTF-8";
/* --------------- RESET e Toda a pagina ---------------*/
@font-face {
  font-family:'Raleway';
  src: url(../fonts/Raleway-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family:'Raleway';
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family:'Raleway';
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
a{
  text-decoration: none;
}

ul {
  list-style: none;
}
body{
  overflow-x: hidden;
}
/* --------------- Inicio menu  ------------------------*/
header.cabecalho{
  width: 100%;
  height: 10vh;
  justify-content: center;
  position: fixed;
  display: flex;
  z-index: 100;
  background: #fff;
}
    nav.C_menudesktop{
      align-items: center;
      display: flex;
      position: relative;
      width: 60%;
      height: 10vh;
      background-color: #fff;
      z-index: 100;
    }
    nav img{
      width: 10vw;
    }
        ul#menu{
          display: flex;
          position: absolute;
          right: -0.2vmax;
          font: 600 2vmax 'Raleway', sans-serif;
        }
              ul#menu a{
                color: grey;
                padding: 0 1vw 0 1vw;
                border-right: 3px solid lightgreen;
              }

              ul#menu a:hover {
                color: lightgreen;
                padding-top: 2vh;
              }

/* --------------- Inicio banner  ------------------------*/

.C_banner {
  width: 60vw;
  position: relative;
  margin: auto;
  top: 17vh;
  z-index: 95;
}
    .faixa{
      width: 119vw;
      height: 30vh;
      z-index: 80;
      position: absolute;
      background: #023302;
      top: 27vh;
      left: -2vw;
      transform: rotate(-5deg);
    }
    .banner {
      display: none;
      height: 54vh;
    }

    .banner img{
      object-fit: cover;
      width: 100%;
      height: 54vh;
    }

    .g_chamada{
      align-items: center;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 22vh;
    }
        .chamada {
          color: #fff;
          font: 800 1.9vmax 'Raleway', sans-serif;
          padding: 1vw;
          text-align: center;
          background-color: rgba(3, 3, 3, 0.6);
          border-radius: 40px;
          margin-bottom: 1vh;
        }
        .b_calltoaction{
          width: 13vw;
          height: 6vh;
          color: white;
          background-color: green;
          font: 800 1.3vmax 'Raleway', sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2vmax;
        }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }



/* --------------- Inicio Vitrine  ------------------------*/

.C_vitrine{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30vh;
}
    h1.Tit_sessao{
      color: #666;
      font: 600 2vmax 'Raleway', sans-serif;
      margin-bottom: 2vh;
    }
    .g_vitrine{
      width: 60%;
      height: 51vh;
      display: flex;
      overflow-x: auto;
    }
        .cardbody{
          width: 15vw;
          height: 46vh;
          display: flex;
          flex-direction: column;
          padding: 1vh 0.5vw 1vh 0.5vw;
          box-shadow: 0px 7px 10px #ccc;
          border-radius: 10px;
          background: #fff;
          margin-left: 2vw;
          flex: 0 0 auto;
        }
            .tipo{
              font: 600 1.2vmax 'Raleway', sans-serif;
              color: darkgreen;
            }
            .imagem_card{
              width: 100%;
              height: 20vh;
              object-fit: cover;
            }

            .local{
              width: 100%;
              height: auto;
              padding-top: 1vh;
              color: grey;
              font: 400 1vmax 'Raleway', sans-serif;
            }
                div.bairro{
                  color: darkgreen;
                  font: 800 1.1vmax 'Raleway', sans-serif;
                }
            .detalhes{
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              grid-column-gap: 0.5vw;
              align-items: center;
              justify-content: center;
              text-align: center;
              margin: 2.5vh 0 2.5vh 0;

            }

                        img.icone_det{
                          width: 40%;
                          color: grey;
                          height: auto;
                        }

                        .det_numeros{
                          font: 600 1vmax 'Raleway', sans-serif;
                          color: grey;
                        }


            .bot_veja{
              width: 75%;
              height: 4.5vh;
              color: white;
              background-color: green;
              font: 600 1vmax 'Raleway', sans-serif;
              display: flex;
              margin: 0 auto;
              justify-content: center;
              align-items: center;
              border-radius: 2vmax;
            }




/* --------------- Inicio texto informativo  ------------------------*/
.C_textoinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24vh;
  background-color: #013101;
  height: 20vh;

}
    .g_textoinfo{
      display: flex;
      width: 49%;
      align-items: center;
      background-color: white;
      padding: 0 6vw 0 6vw;
      border-radius: 25vw;
    }

    .p_info{
      font: 600 1.5vmax 'Raleway', sans-serif;
      color: grey;
      margin-left: 3vw;
    }

/* --------------- Inicio noticias  ------------------------*/

.C_noticias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20vh;
}
   .g_noticia{
    width: 76%;
   }
        .titulo_noticia{
          color: #666;
          font: 800 1.2vmax 'Raleway', sans-serif;
        }

        .card_not{
          width: 18vw;
          height: 50vh;
          margin-left: 1vw;
          padding: 1.4vh 0.8vw 1.5vh 0.8vw;
    }
        p.resumo_noticia{
          color: grey;
          font: 400 0.9vmax'Raleway', sans-serif;
        }
        .bot_not{
        margin-top: 2vh;
        }

/* --------------- Inicio cloud tags  ------------------------*/

.C_cloud{
  width: 100%;
  margin-top: 25vh;
  text-align: center;
}
  .clouds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 51%;
    margin: 0 auto;
  }

        .cloudItem{
          border-radius: 6vmax;
          background-color: #aaa;
          padding: 0.2vmax 1vmax 0.5vmax 1vmax;
          margin: 2vh 0 0 1vw;
          color: white;
          animation: cloud 1.5s linear infinite;
        }
        div.cloudItem a {
          color:white;
          font: 400 1.2vmax 'Raleway', sans-serif;
        }
        @-webkit-keyframes cloud {
          0% {transform: rotate(0deg)}
          25% {transform: rotate(-2deg)}
          50% {transform: rotate(0deg)}
          75% {transform: rotate(2deg)}
          100% {transform: rotate(0deg)}
        }

        @keyframes cloud {
          0% {transform: rotate(0deg)}
          25% {transform: rotate(-2deg)}
          50% {transform: rotate(0deg)}
          75% {transform: rotate(2deg)}
          100% {transform: rotate(0deg)}
        }

/* --------------- Inicio mapa  ------------------------*/

.C_Local{
  width: 100%;
  margin-top: 30vh;
  text-align: center;
}


iframe{
  width: 60%;
  height: 39vh;
}

/* --------------- Inicio footer  ------------------------*/
footer{
  width: 100%;
  height: 29vh;
  background-color: #0A1D04;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
    footer img{
      width: auto;
      height: max-content;

    }
    footer h1{
      color: #666;
      font: 800 1vmax 'Raleway', sans-serif;

    }
    ul#footer_menu{
      font: 400 1vmax 'Raleway', sans-serif;
      line-height: 3vh;
    }
          ul#footer_menu a{
            color: white;
          }

    ul#footer_noticia{
      font: 400 1vmax 'Raleway', sans-serif;
      line-height: 3vh;
    }
          ul#footer_noticia a{
            color: white;
          }
